
Documentation/ep3d-eps-converted-to.pdf
Documentation/validateBatch.aux
Documentation/validateBatch.bbl
Documentation/validateBatch.blg
Documentation/validateBatch.idx
Documentation/validateBatch.ilg
Documentation/validateBatch.ind
Documentation/validateBatch.log
Documentation/validateBatch.out
Documentation/validateBatch.pdf
Documentation/validateBatch.synctex
*.asv
